@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
  display: block;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.produit-div {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  background-color: #fff;
  border-radius: 3px;
}
.product-div-left {
  padding: 20px;
}
.product-div-right {
  padding: 20px;
}
.img-container img {
  width: 200px;
  margin: 0 auto;
}
.hover-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.hover-container div {
  border: 2px solid rgba(242, 239, 87, 0.7);
  padding: 1rem;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  border-color: rgba(242, 239, 87, 0.7) !important;
}
.hover-container div:hover {
  border-color: rgba(235, 234, 195, 0.7);
  background-color: #ff9f00;
}
.hover-container div img {
  width: 50px;
  cursor: pointer;
}
.product-div-right span {
  display: block;
}
.product-name {
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}
.product-price {
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}
.product-rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-rating span {
  margin-right: 6px;
  color: #ff9f00;
}
.product-description {
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}
.btn-groups {
  margin-top: 22px;
}
.btn-groups button {
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-groups button .fas {
  margin-right: 8px;
}
.add-cart-btn {
  background-color: #ff9f00;
  border: 2px solid #ff9f00;
  margin-right: 8px;
}
.add-cart-btn:hover {
  background-color: #fff;
  color: #ff9f00;
}
.buy-now-btn {
  background-color: #000;
  border: 2px solid #000;
}
.buy-now-btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 992px) {
  .produit-div {
    grid-template-columns: 100%;
  }
  .product-div-right {
    text-align: center;
  }
  .product-rating {
    justify-content: center;
  }
  .product-description {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .btn-groups button {
    width: 100%;
    margin-bottom: 10px;
  }
}
/*  */
.dehors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 3;
  padding: 16px;
  border-radius: 7px;
  width: 300 px;
  height: max-content;
  box-shadow: 10px 10px 2px 1px rgba(40, 40, 51, 0.2);
}
.dehors .spans,
.chaus {
  margin-bottom: 15px;
}

.dehors .spans span {
  color: #f69b08;
}
.prix {
  display: flex;
  flex-direction: column;
}
.prix span {
  color: #010008;
  font-weight: 800;
  font-size: 27px;
  text-align: center;
}

.prix .span2 {
  opacity: .3;
  font-weight: 400;
  text-decoration: line-through;
}
